<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cadenharris.fitness">

    <uses-permission android:name="android.hardware.sensor.proximity" />
    <uses-permission android:name="android.hardware.sensor.pressure" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_baseline_fitness_center_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_fitness_center_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitness"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2639351679368165~8819051536"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>


